:root {
    --accentOrange: rgb(206,129,66);
    --accentWhite: #f2f3f5;
    --accentWhiteDark: #e1e3e6;
    --accentDark: #E2B38D;
    --accentLight: #EAC9AE;
    --text-color: #374958;
    --task-background: #ddd;
    --font-size-header: 24px;
    --font-size-subheader: 17px;
    --padding-edges: 20px;
    --padding-edges-2: 40px;
    --padding-edges-3: 60px;
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: "Alata";
    margin: 0px;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.centered-flex {
    display: flex;
    align-items: center;
}

.logo {
    background-color: var(--accentWhite); 
    font-size: 2.5rem;
    padding: 10px var(--padding-edges);
    justify-content: space-between;
    font-weight: 900;
    border-bottom: solid 2px var(--text-color);
    box-sizing: border-box;
}

.checkmark-image {
    height: 2.5rem;
    width: 2.5rem;
    color: var(--accentOrange);
}

.brand div {
    color: var(--accentOrange);
}

.brand span {
    color: var(--text-color);
}

.menu {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0;
    padding: 0px 10px; 
    border-radius: 8px;
}

.menu:hover {
    background-color: var(--accentWhiteDark);
}

.menu-image {
    color: var(--text-color);
}

.theme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    width: 40px; 
    height: 20px; 
    background-color: var(--accentWhiteDark); 
    border-radius: 24px; 
    border: 2px solid var(--text-color);
    cursor: pointer;
}

.theme-icon {
    fill: var(--accentOrange);
}

.toggle-ball {
    width: 20px; 
    height: 20px; 
    background-color: var(--text-color); 
    border-radius: 50%; 
    transition: transform 0.3s ease; 
    z-index: 2;
}

.fa-moon {
    position: absolute;
    top: 5%;
    transform: translate(-40%, -40%);
    right: 26px;
    font-size: 1rem; 
    color: white; 
    display: none; 
}

body.dark-theme .toggle-ball {
    transform: translateX(-1px); 
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.leftPanel {
    flex-shrink: 1;
    flex: 0 0 20%;
}

.leftPanel-hidden {
    flex-shrink: 1;
    display: none !important;
}

.home {
    display: flex;
    flex-direction: column;
}

h1, h2 {
    color: var(--text-color);
}

h2 {
    margin: var(--padding-edges);
    border-bottom: 2px solid var(--text-color);
}

.title {
    border-radius: 8px;
    margin: 0px var(--padding-edges);
    padding: 10px var(--padding-edges-2);
    color: var(--text-color);
}

.title p {
    margin: 0px;
    font-size: var(--font-size-subheader);
}

.title:hover, .project-button:hover {
    background-color: var(--accentWhiteDark);
}

.title svg {
    padding-right: 10px;
}

.projects p {
    margin: 0px;
}

.projects svg {
    padding-right: 10px;
}

.highlight {
    background-color: var(--accentLight);
}

.title.highlight:hover {
    background-color: var(--accentDark) !important;
}

.rightPanel {
    flex-shrink: 1;
    padding: 10px 30px;
}

.rightPanel, .card-left {
    background: var(--task-background);
}

.rightPanel-reduced {
    flex-shrink: 1;
    flex: 0 0 80%;
}

.rightPanel-full {
    flex-shrink: 1;
    flex: 0 0 100%;
}

button {
    border-radius: 8px;
    margin: 0px var(--padding-edges);
    padding: 10px var(--padding-edges-2);
    width: calc(100% - 2 * var(--padding-edges));
    font-size: var(--font-size-subheader);
    font-weight: 700;
    background-color: transparent;
    color: var(--text-color);
    border: none;
}

footer {
    flex-shrink: 0;
    background-color: var(--accentWhite);
    border-top: 2px solid var(--text-color);
    gap: 10px;
}

.github-icon {
    color: var(--accentOrange);
    transition: transform 0.6s ease;
    display: inline-block;
}

.github-icon:hover {
    transform: rotate(360deg);
}

/* Task UI */
.overlay-new {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.card {
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
    width: 40rem;
    height: 30rem;
}

.card-header{
    color: var(--text-color);
    font-size: var(--font-size-header);
    padding: 10px;
    height: 10%;
    background-color: var(--accentWhite);
    border-bottom: solid 2px var(--accentDark);
}

.card-container {
    height: 90%;
}

.card-container, .card-footer {
    background-color: white;
}

.task-title {
    height: 10%;
}

.task-details {
    height: 90%;
}

.task-title, .task-details {
    border: none;
    padding: 10px;
    outline: none;
    resize: none;
}

.card-footer {
    height: 10%;
    font-size: var(--font-size-subheader);
}
