/* Variables */
:root {
    --accentOrange: rgb(206,129,66);
    --accentWhite: #f2f3f5;
    --accentWhiteDark: #e1e3e6;
    --accentDark: #E2B38D;
    --accentLight: #EAC9AE;
    --text-color: #374958;
    --task-background: #ddd;
    --font-size-header: 24px;
    --font-size-subheader: 17px;
    --font-size-regular: 12px;
    --font-size-reduced: 10px;
    --padding-edges: 20px;
    --padding-edges-2: 40px;
    --padding-edges-3: 60px;
    --border-calendar: #3BA395;
    --low-priority: green;
    --medium-priority: orange;
    --high-priority: red;
}

/* Global Styles */ 

html, body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

body {
    font-family: "Alata";
    margin: 0px;
}

/* Utility Classes */
.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.centered-flex {
    display: flex;
    align-items: center;
}

.display-between {
    display: flex;
    justify-content: space-between;
}

/* Layout */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
}

.leftPanel {
    box-sizing: border-box;
    flex-shrink: 0;
    width: 300px;
}

.leftPanel-hidden {
    display: none !important;
}

.rightPanel, .card-left {
    background: var(--task-background);
}

.rightPanel p {
    margin: 0px;
}

.rightPanel-reduced, .rightPanel-full {
    padding: 10px 30px;
    flex-grow: 1;
}

.rightPanel-reduced {
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-shrink: 1;

}

.rightPanel-full {
    flex-wrap: wrap;
    box-sizing: border-box;
    flex-shrink: 1;
}

/* Components */
/* Branding and Navigation */
.logo {
    background-color: var(--accentWhite); 
    font-size: 2.5rem;
    padding: 10px var(--padding-edges);
    justify-content: space-between;
    font-weight: 900;
    border-bottom: solid 2px var(--text-color);
    box-sizing: border-box;
}

.brand div {
    color: var(--accentOrange);
}

.brand span {
    color: var(--text-color);
}

.menu {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 0;
    padding: 0px 10px; 
    border-radius: 8px;
}

.menu:hover {
    background-color: var(--accentWhiteDark);
}

.menu-image {
    color: var(--text-color);
}

.checkmark-image {
    height: 2.5rem;
    width: 2.5rem;
    color: var(--accentOrange);
}

.theme {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    width: 40px; 
    height: 20px; 
    background-color: var(--accentWhiteDark); 
    border-radius: 24px; 
    border: 2px solid var(--text-color);
    cursor: pointer;
}

.theme-icon {
    fill: var(--accentOrange);
}

.toggle-ball {
    width: 20px; 
    height: 20px; 
    background-color: var(--text-color); 
    border-radius: 50%; 
    transition: transform 0.3s ease; 
    z-index: 2;
}

.fa-moon {
    position: absolute;
    right: 30px;
    font-size: 1rem; 
    color: white; 
    display: none; 
}

body.dark-theme .toggle-ball {
    transform: translateX(-1px); 
}

/* Task Card */
.overlay-new {
    z-index: 3;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    display: flex; 
    justify-content: center; 
    align-items: center; 
    display: none;
}

.card {
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.6);
    width: 38rem;
    height: 25rem;
    border-radius: 15px;
    position: relative;
    overflow: hidden;
}

.card-header{
    color: var(--text-color);
    font-size: var(--font-size-subheader);
    padding: 10px 20px;
    height: 10%;
    background-color: var(--accentWhite);
    border-bottom: solid 2px var(--accentDark);
}

.card-container {
    height: 90%;
}

.card-container, .card-footer {
    background-color: white;
}

h1, h2 {
    color: var(--text-color);
}

h2 {
    margin: var(--padding-edges);
    border-bottom: 2px solid var(--text-color);
}

/* Content */
.title {
    border-radius: 8px;
    margin: 0px var(--padding-edges);
    padding: 10px var(--padding-edges-2);
    color: var(--text-color);
}

.title p {
    margin: 0px;
    font-size: var(--font-size-subheader);
}

.title:hover, .project-button:hover {
    background-color: var(--accentWhiteDark);
}

.title svg {
    padding-right: 10px;
}

.projects p {
    margin: 0px;
}

.projects svg {
    padding-right: 10px;
}

.highlight {
    background-color: var(--accentLight);
}

.title.highlight:hover {
    background-color: var(--accentDark) !important;
}

button {
    border-radius: 8px;
    margin: 0px var(--padding-edges);
    padding: 10px var(--padding-edges-2);
    width: calc(100% - 2 * var(--padding-edges));
    font-size: var(--font-size-subheader);
    font-weight: 700;
    background-color: transparent;
    color: var(--text-color);
    border: none;
}

.task {
    box-sizing: border-box;
    border-radius: 8px;
    padding: 15px;
    background-color: white;
    width: calc(100% - 15px);
}

.task.low-task {
    border-left: 5px solid var(--low-priority);
}

.task.medium-task {
    border-left: 5px solid var(--medium-priority);
}

.task.high-task {
    border-left: 5px solid var(--high-priority);
}

h3, .task p, .task-content, .task-due-date {
    margin: 0px;
    font-size: var(--font-size-regular);
    gap: 10px;
}

.fa-solid:hover {
    color: var(--accentDark);
}

/* Footer */
footer {
    flex-shrink: 0;
    background-color: var(--accentWhite);
    border-top: 2px solid var(--text-color);
    gap: 10px;
    color: var(--text-color);
}

.footer-item {
    display: flex;
    align-items: center; 
}

.footer-item input {
    margin: 0;
}
 
.card-footer {
    height: 10%;
    font-size: var(--font-size-regular);
    color: var(--text-color);
    justify-content: space-between;
    gap: 5px;
}

.github-icon:hover {
    transform: rotate(360deg);
}

.card-footer div {
    margin-right: 5px;
}

.task-title {
    height: 10%;
}

.task-details {
    height: 90%;
}

.task-title, .task-details {
    font-size: var(--font-size-regular);
}

.task-title, .task-details, .card-footer, .calendar {
    border: none;
    padding: 10px 20px;
    outline: none;
    resize: none;
}

.calendar {
    color: var(--text-color);
    font-size: var(--font-size-regular);
    padding: 5px 15px;
    border-radius: 4px;
    font-weight: 700;
    border: 1px solid var(--border-calendar);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

.low {
    border: 1px solid var(--low-priority);
}

.low:hover, .low:checked {
    background-color: var(--low-priority);
    color: white;
}

.medium {
    border: 1px solid var(--medium-priority);
}

.medium:hover {
    background-color: var(--medium-priority);
    color: white;
}

.high {
    border: 1px solid var(--high-priority);
}

.high:hover {
    background-color: var(--high-priority);
    color: white;
}

.low {
    background-color: var(--accentWhite);
    border: 1px solid var(--low-priority);
}

.low:hover, #low:checked + .low {
    background-color: var(--low-priority);
}

.medium {
    background-color: var(--accentWhite);
    border: 1px solid var(--medium-priority);
}

.medium:hover, #medium:checked + .medium {
    background-color: var(--medium-priority);
}

.high {
    background-color: var(--accentWhite);
    border: 1px solid var(--high-priority);
}

.high:hover, #high:checked + .high {
    background-color: var(--high-priority);
}

.task-list {
    gap: 15px;
}

.insert-task {
    border: 1px solid var(--text-color);
}

.insert-task:hover {
    background-color: var(--text-color);
    color: white;
}

form {
    background-color: white;
}

.github-icon {
    color: var(--accentOrange);
    transition: transform 0.6s ease;
    display: inline-block;
}

.exit-task {
    cursor: pointer;
}

.low, .medium, .high, .add-task, .insert-task {
    border-radius: 4px;
    padding: 2px 4px;
    font-weight: 700;
}

.priority-radio {
    display: none;
}

.priority-label {
    cursor: pointer;
    margin-right: 10px;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s;
}

.priority-label, .insert-task {
    padding: 5px 15px;
}

.priority-radio:checked + .priority-label {
    color: white;
}

/* Use media queries for responsiveness */
@media (max-width: 768px) {
    .content {
        height: 100%;
        flex-direction: column;
    }

    .content {
        height: 100%;
        align-items: stretch;
    }

    .card {
        width: 28rem;
        height: 25rem;
    }

    .card-footer {
        gap: 2px;
    }

    .card-footer, .calendar {
        font-size: var(--font-size-reduced);
        padding: 5px 5px;
    }

    .low, .medium, .high, .insert-task, .calendar {
        padding: 5px 10px;
    }

    .leftPanel {
      width: 100%;
      margin-bottom: 5%;
    }
    
    .rightPanel, .rightPanel-reduced, .rightPanel-full {
      flex-grow: 1;
      flex-basis: 100%;
      width: 100%; 
      max-width: 100%;
    }
  
    .page-container, .content {
      padding: 0;
      margin: 0;
    }
  }
